@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Spinnaker&family=Whisper&display=swap');
:root {
    --color-primario: #102C57;
    --color-secundario: #F6F6F6;
    --color-terciario: #3AA6B9;
    --color-hover: #FF9EAA;
    --color-fondo-input: #FFD0D0;
    --color-brillo: #9F8699;

    --fuente-tegomin: "New Tegomin", serif;
    --fuente-spinnaker: "Spinnaker", sans-serif;
    --fuente-whisper: "Whisper", cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../imagen/fondo-minimalista.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    padding: 1% 0 0 0;
    align-items: flex-start;
}

.presentacion {
    padding: 2% 5%;
    flex: 1;
}

.presentacion__box {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px; /* Espacio entre columnas y filas */
    height: 100%; /* Altura del contenedor */
}

.presentacion__box__entrada {
    display: grid;
    grid-template-rows: 30%  50% 10% 10%; /* Tres filas con las proporciones especificadas */
}

.vacia {
    display: flex;
    gap: 2rem; /* Espacio entre la imagen y el texto */
    margin-top: auto;
}

.presentacion__box__mensaje {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    gap: 0.25rem; /* Espacio entre la imagen y el texto */
    margin-top: auto;
}

.box__alerta {
    font-family: var(--fuente-spinnaker);
    font-weight: 400;
    font-size: 1rem;
    text-shadow: 0 0 0.5rem var(--color-terciario);
}

.presentacion__box__entrada__botones {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
    gap: 10px; /* Espacio entre los botones */
    margin-top: auto; /* Empuja los botones hacia la parte inferior */
}

.presentacion__box__output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.entrada {
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-fondo-input);
    padding: 2%;
    text-align: center;
    font-family: var(--fuente-tegomin);
    font-weight: 400;
    font-size: 1.6rem;
    text-shadow: 0 0 0.5rem var(--color-brillo);
    color: var(--color-terciario);
}

.txt__resultado {
    border: none;
    width: 45%;
    padding: 2rem;
    text-align: center;
    font-family: var(--fuente-whisper);
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-primario);
    text-shadow: 0 0 0.5rem var(--color-terciario); /* Asegúrate de que el text-shadow esté aquí */
}

.boton-copiar,
.boton {
    border: 0.063rem solid var(--color-terciario);
    padding: 0.7rem;
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    font-family: var(--fuente-tegomin);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 4px var(--color-primario);
    border-radius: 0.5rem;
    cursor: pointer;
    width: 45%; /* Tamaño fijo o relativo para los botones */
}

.boton-copiar {
    display: none;
}

.logo {
    width: 8%;
    object-fit: contain;
}

.alerta {
    width: 8%;
    object-fit: contain;
}

.lupa {
    width: 60%;
    object-fit: contain;
}

footer {
    color: var(--color-fondo-input);
    text-align: center;
    font-family: var(--fuente-whisper);
    font-size: 1.3rem;
    letter-spacing: .15rem;
    background-color: var(--color-primario);
    width: 100%;
    padding-bottom: 0.3rem;
}

/* Estilos para pantallas grandes (PC) */
.presentacion__box {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px;
}

/* Estilos para tabletas y móviles */
@media (max-width: 48rem) {
    .lupa {
        display: none;
    }

    .presentacion__box {
        grid-template-columns: 1fr; /* Una columna en móviles */
    }

    .txt__resultado {
        background-color: var(--color-fondo-input);
    }

    .boton {
        width: 100%; /* Botones ocupan el ancho completo */
        font-size: 1rem; /* Tamaño de fuente más pequeño */
    }
}